<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h1>Winebox</h1>
          <h2>Amazing Food &amp; Wine Pairings Made Easy</h2>
          <p>Deliver a box with snacks and wine to your mailbox every month!</p>
        </div>
      </div>
    </div>
    <div class="row plans">
      <div class="col-md-4 well">
        <div class="plan"><h2>Silver</h2></div>
        <ul class="list-unstyled">
          <li>2 Snacks and 1 Bottle of Wine</li>
        </ul>
        <h3><b>$49</b>/month</h3><br>
        <%= link_to 'Subscribe Now', new_user_registration_path(plan: 'silver'), :class => 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-4 well featured">
        <div class="plan featured-plan"><h2>Gold</h2></div>
        <ul class="list-unstyled">
          <li>4 Snacks and 2 Bottles of Wine</li>
        </ul>
        <h3><b>$99</b>/month</h3><br>
        <%= link_to 'Subscribe Now', new_user_registration_path(plan: 'gold'), :class => 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-4 well">
        <div class="plan"><h2>Platinum</h2></div>
        <ul class="list-unstyled">
          <li>Premium Snacks and 3 Bottles of Wine</li>
        </ul>
        <h3><b>$149</b>/month</h3><br>
        <%= link_to 'Subscribe Now', new_user_registration_path(plan: 'platinum'), :class => 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>
